@model IEnumerable<Corredores.Clientes>

@{
    ViewBag.Title = "Tabla de Clientes";
}

<h2>Tabla de Clientes</h2>

<p>
    @Html.ActionLink("Crear nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dirección)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teléfono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirección)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teléfono)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CC }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CC }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CC })
        </td>
    </tr>
}

</table>
